body{
background-color: #eee;
}
#container{
    background-color: #fff;
    width: 80%;
}
#id{
    width: 80%;
    align-items: center;
}
header{
    width: 100%;
    display: flex;
}
header > div {
    flex: 1 1rem;
    display: flex;
}
header > div > img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#navbar{
    background-color: #2D2654;
    height: 2.5rem;
    text-align: center;
    vertical-align: middle;
}
#navbar > a{
    color: #bbb;
    text-decoration: none;
    margin: 0.7rem;
    vertical-align: middle;
    
}
#navbar > a:hover{
    color: #fff;
}
#body_content{
    display: flex;
}
#body_content > div{
    flex: auto;
}
.h_line{
    border-bottom: 2px dashed #ccc;
    display: block;
}
.v_line{
    border-right: 2px dotted #ccc;
}